/*!
 * Start Bootstrap - Grayscale Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    width: 100%;
    height: 100%;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    background-color: #FFF;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

form label
{
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: 1px;
    font-weight: 100;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

p.custom-label {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: 1px;
    font-weight: 100;
}

@media(min-width:767px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: #219ab3;
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}

button.extra-padding
{
    min-width: 80px;
    margin-left: 5px;
}

.intro {
    display: table;
    width: 100%;
    height: 100px;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(/img/intro-bg.jpg) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .intro-text {
    font-size: 18px;
}

i.fa-twitter
{
	color: #219ab3;
	font-size: large;	
}

button i.fa-twitter
{
	color: inherit;
}

@media(min-width:767px) {
    .intro {
        height: 200px;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        margin-bottom: -45px;
    }

    .intro .intro-body .intro-text {
        font-size: 25px;
    }
}

a:hover,
a:focus {
    text-decoration: none;
    color: #11505d;
}

.alert {
    font-size: 18px;
}

.light {
    font-weight: 400;
}

.pn-gray
{
    color: #C0C0C0;
}

.text-dark {
	color: #000;
}

.text-overflow {
    overflow: hidden;
    white-space: nowrap;
}

.no-border {
	border: 0px;
}

.fa
{
    font-size: 16px;
}

.wait {
    font-size: 50px;
    padding-top: 25px;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #000;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav ul.dropdown-menu li a:hover,
.navbar-custom .nav ul.dropdown-menu li a:focus,
.navbar-custom .nav ul.dropdown-menu li a:active
{
    background-color: #ccc;
}

.navbar-custom .nav li.active {
    outline: nonte;
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a.active {
    outline: 0;
    background-color: rgba(255,255,255,.3);
}

.intro .intro-body .brand-heading {
    font-size: 35px;
    margin-bottom: -50px;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	background-color: #aaa !important;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: #000;
    }

    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(255,255,255,.3);
    }
}

@media(max-width: 767px) {
	.navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu>li>a {
		color: lightgrey;
	}

	.navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu>li>a:hover {
		background-color: #777 !important;
	}
}

.content-section {
    padding-top: 75px;
}

@media(min-width:767px) {
    .content-section {
        padding-top: 100px;
    }
}

.btn {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
}

.btn:hover,
.btn:focus
{
    outline: 0;
    color: #fff;
}

.btn[disabled]:hover
{
    color: currentcolor;
}

.btn-default {
    border: 1px solid #219ab3;
    color: #219ab3;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #219ab3;
    background-color: #219ab3;
}

.btn-default[disabled]:hover {
    color: #219ab3;
}

.btn-danger {
    border: 1px solid #c9302c;
    color: #c9302c;
    background-color: transparent;
}

.btn-danger:hover,
.btn-danger:focus {
    border: 1px solid #c9302c;
    background-color: #c9302c;
}

ul.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
}

footer p {
    margin: 10px 0px;
}

footer .footer-links
{
	text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}