.dropzone
{
	border: 2px dashed #bce8f1;
	border-radius: 5px;
	background: white;
}

.row-error p
{
	display: inline;
	font-size: 16px;
}

div.dz-message p {
    font-size: 10pt;
    margin: 0px;
    padding: 10px;
}

div.file-upload
{
	margin-bottom: 15px;
}