.dropzone 
{
  min-height: 150px;
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
  padding: 20px 20px; 
}

.dropzone .dz-message 
{
  text-align: center;
  margin: 2em 0; 
}

.dropzone i
{
  display: block;
  margin-bottom: 15px;
}