.dropzone, .dropzone * 
{
  box-sizing: border-box; 
}

.dropzone.dz-clickable 
{
  cursor: pointer; 
}

.dropzone.dz-clickable * 
{
  cursor: default; 
}

.dropzone.dz-clickable .dz-message, .dropzone.dz-clickable .dz-message * 
{
  cursor: pointer; 
}

.dropzone.dz-started .dz-message 
{
  display: none; 
}

.dropzone.dz-drag-hover 
{
  border-style: solid; 
}

.dropzone.dz-drag-hover .dz-message 
{
  opacity: 0.5; 
}

.upload-preview p, .upload-preview h4
{
  margin: 5px 0 10px;
}

.upload-preview .thumbnail>img
{
  margin-top: 5px;
}

@media (min-width: 767px) {
  .upload-preview p, .upload-preview h4
  {
    margin: 5px 0 10px;
  }
}