div.import-msg
{
	margin-bottom: 20px;
}

div.import-msg p
{
	font-size: 18px;
}

div.editable p.content:after {
    color: #777;
    content: "\f044";
    font-size: 15px;
    font-family: "FontAwesome";
    padding-left: 10px;
    position: absolute;
    /*top: -2px;*/
    cursor: pointer;
}

textarea
{
    width: 100%;
}

div.panel-heading h6
{
	margin: 0px;
}

div.panel-body div.input-group-addon
{
	min-width: 85px;
}

div.label-addon {
	border-left: 1px solid #ccc;
}

div.recipe-img
{
	margin-top: 15px;
}

div.recipe-img div.actions
{
    text-align: center;
}

div.recipe-metadata input
{
    width: 125px;
}

div.recipe-metadata input#servings
{
    width: 100px !important;
}

div.recipe-header div.panel
{
    margin-top: 25px;
    margin-bottom: 5px;
}

@media(min-width:767px) {
    div.recipe-metadata input
    {
        width: 125px !important; 
    }
}

div.input-group,div.dropdown.recipe-rating, div.dropdown.recipe-cuisine, div.dropdown.recipe-types
{
    margin-top: 5px;
    margin-bottom: 5px;        
}

div.recipe-detail
{
    background-color: #eeeeee;
    font-size: 18px;
}

span.recipe-detail
{
    /*display: block;*/
    padding: 5px 15px;
}

div.dropdown.recipe-rating, div.dropdown.recipe-cuisine, div.dropdown.recipe-types
{
    display: inline-block;
}

button#dropdownRating, button#dropdownCuisine, button#dropdownTypes
{
    margin-bottom: 2px;
    padding: 4px 6px;
}

button#dropdownCuisine .caret,button#dropdownTypes .caret
{
    margin-left: 5px;
}

div.ingredient-collection,
div.direction-collection
{
    margin-bottom: 20px;
}

div.ingredient-row > .row,
div.direction-row > .row
{
    padding: 5px;
    margin-bottom: 10px;
}

div.ingredient-row.ui-sortable-helper > .row,
div.direction-row.ui-sortable-helper > .row
{
    padding: 0;
    margin-bottom: 0;
}

div.fixed-placeholder
{
    height: 25px;
}

div.sortable-placeholder
{
    padding: 0px;
    margin-bottom: 10px;
    border: 1px dashed darkgrey;
}

span.handle
{
    color: lightgray;
    cursor: move;
}

span.handle i
{
    padding-top: 10px;
    padding-left: 5px;    
}

div.ingredient-row:hover span.handle,
div.direction-row:hover span.handle
{
    color: black;
}

div.ingredient-row input.text
{
    font-weight: bold;
}

button.trash
{
    border: 1px solid transparent;
    color: lightgray;
}

div.ingredient-row:hover button.trash
{
    border: 1px solid #219ab3;
    color: #219ab3;
    background-color: transparent;
}

div.direction-row:hover button.trash
{
    border: 1px solid #c9302c;
    color: #c9302c;
    background-color: transparent;
}

.btn-addingredient, .btn-importingredients,
.btn-adddirection, .btn-importdirections
{
	margin-bottom: 5px;
}

section#editControls .panel-body
{
    background-color: #eee;
}

/*
These were used to make a div with buttons appear over an image.
Basic HTML layout should be:
<div class="col-xs-12 col-md-offset-2 col-md-4 recipe-img">
  <div class='between-col-and-actions'>
    <img src="/img/edit-placeholder.png" class="img-thumbnail">
    <div class="actions">
        <button class="btn btn-default" type="button">Upload</button>
    </div>
  </div>
</div>
div.recipe-img:hover img
{
    opacity:0.5;
}

div.recipe-img:hover div.actions
{
    display: block;
}

div.between-col-and-actions
{
    position: relative;
    cursor: pointer;
}
div.recipe-img div.actions
{
    width: 100%;
    top: 45%;
    position:absolute;
    display:none;
    text-align: center;
}
*/