div.bs-import-modal,
div.bs-import-modal .modal-content div,
div.bs-import-image-modal
{
	height: 100%;
}

div.bs-import-modal .modal-content,
div.bs-import-image-modal .modal-content
{
	height: 100%;
	overflow: scroll;
}

div.bs-import-modal table,
div.bs-import-image-modal table
{
	width: 100%;
	height: 100%;
}

div.bs-import-modal td.header,
div.bs-import-modal td.footer,
div.bs-import-image-modal td.header,
div.bs-import-image-modal td.footer
{
	padding-top: 15px;
	padding-bottom: 15px;
}

div.bs-import-modal .alert,
div.bs-import-image-modal .alert
{
	height: inherit !important;
}

div.bs-import-modal td.content,
div.bs-import-image-modal td.content
{
	height: 100%;
}

div.bs-import-modal td.footer,
div.bs-import-image-modal td.footer
{
	text-align: right;
}

div.bs-import-modal .modal-content,
div.bs-import-image-modal .modal-content 
{
  border: 0;
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
}

div.bs-import-modal button.close,
div.bs-import-image-modal button.close
{
	font-size: 35px;
}

img.import-recipe-image
{
	padding: 10px;
}

img.import-recipe-image:hover
{
	cursor: pointer;
	border-color: green;
}

img.import-recipe-image.selected
{
	background-color: #dff0d8;
	border-color: green;
}

img.import-recipe-image.selected:hover
{
	background-color: #f2dede;
	border-color: red;
}