.bs-recipe-preview-modal
{
	overflow-y: scroll !important;
}

.bs-recipe-preview-modal .modal-body
{
	max-height: 100%;
}

.recipe-meta-detail
{
	display: inline-block;
	width: auto;
	padding: 10px;
}

.recipe-preview-header h2.recipe-title,
.recipe-preview-header p {
	margin-bottom: 10px;
}

.recipe-preview-ingredients,
.recipe-preview-directions
{
	padding-top: 10px;
	padding-bottom: 10px;
}

.ingredient-row > div,
.direction-row > div
{
	padding-top: 5px;
	padding-bottom: 5px;
}

div.ingredient-row .heading
{
    font-weight: bold;
}