.img-thumbnail
{
    max-height: 350px;
}

div.recipe-detail
{
    background-color: #eeeeee;
    font-size: 18px;
}

span.recipe-detail
{
    padding-left: 15px;
}

div.recipe-img, div.recipe-comment
{
    margin-bottom: 25px;
}

@media(max-width:992px)
{
    div.recipe-img, div.recipe-comment
    {
        text-align: center;
    }
}

div.ingredient-view, div.direction-view
{
    font-size: 18px;
    margin-bottom: 25px;
}

div.direction-view div.row
{
    margin-bottom: 15px;
}

div.ingredient-view div.row
{
    margin-bottom: 10px;
}

div.ingredient-view .heading
{
    font-weight: bold;
}

div.direction-number h1
{
    margin: 0px;
}

div.ingredient-frame
{
	padding-bottom: 10px;
}

div.direction-frame
{
	padding-top: 20px;
}

section#recipe-body.content-section {
	padding-top: 25px;
}

@media only screen and (max-device-width: 1024px) and (orientation: landscape)
{	
	section#recipe-body div.ingredient-frame
	{
		width: 35% !important;
		margin-left: 0px;
		margin-bottom: 0px;
		display: inline-block; 
		vertical-align: top;
		
		/* border: 1px solid black; */
	}
	
	section#recipe-body div.direction-frame
	{
		width: 55% !important;
		margin-left: 0px;
		margin-top: 0px;
		display: inline-block;
		
		/* border: 1px solid black; */
	}
}