.content-section {
    padding-top: 50px;
}

@media(min-width: 767px)
{
	.content-section {
        padding-top: 60px;
    }
}

.intro .intro-body .brand-heading-small {
	font-size: 25px;
}

h1.brand-heading p,
h1.brand-heading-small p
{
	margin: 0px;
}

.img-thumbnail
{
    max-height: 350px;
}

div.panel-heading h6
{
	margin: 0px;
}

div.recipe-detail
{
    background-color: #eeeeee;
    font-size: 18px;
}

span.recipe-detail
{
    padding-left: 15px;
}

div.metadata
{
    padding-bottom: 10px;
}

div.recipe-img, div.recipe-comment
{
    margin-bottom: 25px;
}

@media(max-width:992px)
{
    div.recipe-img
    {
        text-align: center;
    }
    
    div.time-metadata
    {
	    padding-bottom: 20px;
    }
}

div.ingredient-view, div.direction-view
{
    font-size: 18px;
    margin-bottom: 25px;
}

div.direction-view div.row
{
    margin-bottom: 15px;
}

div.ingredient-view div.row
{
    margin-bottom: 10px;
}

div.ingredient-view .heading
{
    font-weight: bold;
}

div.direction-number h1
{
    margin: 0px;
}

section#recipe-footer .panel-body
{
    background-color: #eee;
}

section#recipe-footer .fa
{
    font-size: 20px;
}

section#recipe-footer button
{
	margin-left: 10px;
}

div.dropdown.recipe-rating, div.dropdown.recipe-cuisine, div.dropdown.recipe-types
{
    display: inline-block;
    margin-bottom: 10px;
}

button#dropdownRating, button#dropdownCuisine, button#dropdownTypes
{
	min-width: 110px;
    margin-bottom: 2px;
    padding: 4px 6px;
}

button#dropdownCuisine .caret,button#dropdownTypes .caret
{
    margin-left: 5px;
}

form#shopping-list
{
    font-size: 18px;
}

form#shopping-list .row
{
    margin-bottom: 5px;
}

div.ingredient-frame
{
	margin-bottom: 10px;
}

div.direction-frame
{
	margin-top: 10px;
}

.checkbox label
{
	text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: 1px;
    font-weight: 100;
}

@media only screen and (max-device-width: 1024px) and (orientation: landscape)
{	
	section#recipe-body div.ingredient-frame
	{
		width: 35% !important;
		margin-left: 0px;
		margin-bottom: 0px;
		display: inline-block; 
		vertical-align: top;
		
		/* border: 1px solid black; */
	}
	
	section#recipe-body div.direction-frame
	{
		width: 55% !important;
		margin-left: 0px;
		margin-top: 0px;
		display: inline-block;
		
		/* border: 1px solid black; */
	}
}