.intro {
    display: table;
    width: 100%;
    height: 100px;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(/img/intro-bg.jpg) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .intro-text {
    font-size: 18px;
}

.content-section {
    padding-top: 50px;
}

@media(min-width:767px) {
    .intro {
        height: 200px;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        margin-bottom: -45px;
    }

    .intro .intro-body .intro-text {
        font-size: 25px;
    }

   .content-section {
        padding-top: 60px;
    }
}

small.filter-label
{
	display: block;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	text-transform: uppercase;
	padding: 5px 0px;
}

div.search-results > .row
{
    margin-bottom: 25px;
}

div.recipe-detail > p
{
    margin-bottom: 15px;
}

img.thumbnail
{
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

img.thumbnail:focus,img.thumbnail:hover
{
    border-color:#337ab7
}

div.recipe-detail h4
{
    margin-bottom: 10px;
}

div.recipe-props
{
    margin-bottom: 15px;
}

div.recipe-props > span
{
    margin-right: 15px;
}

@media(min-width:1170px) {
    div.recipe-props > span
    {
        display: block;
    }
}