.intro .intro-body .brand-heading {
    margin-bottom: 0px;
}

a.login-modal {
	cursor: pointer;
}

@media(min-width:767px) {
    .intro {
        height: 100%;
    }

    .intro .intro-body .brand-heading {
        font-size: 75px;
    }

    .intro .intro-body .intro-text {
        font-size: 25px;
    }
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 35px;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

section#about i.fa {
	font-size: 125px;
}

div.has-error p.help-block
{
	background-color: #f2dede;
	border-color: #ebccd1;
}

div.has-warning p.help-block
{
	background-color: #fcf8e3;
	border-color: #ebccd1;
}

p.help-block li
{
	list-style-type: none;
}

.signup-section {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    font-size: 20px;
    background: url(/img/signup-bg.jpg) no-repeat center center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

@media(min-width:767px) {
    .signup-section {
        padding: 100px 0;
    }
}

section#signup .form-group input.form-control
{
	padding: 15px;
	height: auto;
	font-size: 16px;
	margin-bottom: 20px;
}

section#signup .text-danger
{
	color: #e74c3c;
}

section#signup .help-block
{
	height: 32px;
}

.btn-xl {
	padding: 20px 40px;
	font-size: 18px;
	font-weight: 700;
    min-width: 255px;
}

div.bs-login-modal .btn-login
{
    min-width: 80px;
}