.intro {
    display: table;
    width: 100%;
    height: 100px;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(/img/intro-bg.jpg) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 30px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
}

@media(min-width:767px) {
    .intro {
        height: 200px;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        margin-bottom: -45px;
    }

    .intro .intro-body .intro-text {
        font-size: 25px;
    }
    
    .alert p
    {
	    font-size: inherit;
    }
}
