p {
	margin-bottom: 5px;
}

.content-section {
	padding-top: 35px;
}

@media(min-width:767px) {
	.content-section {
		padding-top: 50px;		
	}
}

input.btn.add-friend {
	width: 100%;
}

.friend-list-item {
	font-size: 35px;
	padding-bottom: 10px;
}