.content-section {
	padding-top: 35px;
}

.message-list-item {
	font-size: 35px;
	padding-bottom: 10px;
}

.message-list-item p
{
	margin-bottom: 4px;
}

@media(min-width:767px) {
	.content-section {
		padding-top: 50px;		
	}
}

.message-list-item .header,
.message-list-item .body,
.message-list-item .footer {
	margin: 4px;	
}

.message-list-item .header {
	padding-bottom: 5px;
	background-color: #f5f5f5;
	border-bottom: 1px solid #ddd;
	color: #262626;
}

.message-list-item .header.author {
	background-color: #F5FAF5;
}

.message-list-item .header p {
	margin-bottom: 0px;
	font-size: 20px;
	display: inline-block;
}

.message-list-item .body {
	margin-top: 25px;
	margin-bottom: 25px;
}

.message-list-item .message-section {
	padding-top: 5px;
}

.message-list-item .attachment-content-section {
	margin-top: 5px;
	padding: 6px 12px;
}

.message-list-item .footer {
	padding-top: 5px;
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
}

.message-list-item .footer p {
	font-size: 12px;
}

.message-list-item button.remove-message {
	margin-bottom: 5px;
}

.message-list-item div.message-timestamp {
	margin-top: 5px;
	margin-bottom: 5px;
}

.message-list-item button.preview,
.message-list-item button.import
{
	margin: 5px;
	min-width: 40px;
}

.message-options button
{
	margin-left: 5px;
	max-height: 30px;
}

.row.show-more .thumbnail
{
	background-color: #f5f5f5;
	cursor: pointer;
	text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
}

.row.show-more p {
	margin-bottom: 0px;
}