.intro {
    display: table;
    width: 100%;
    height: 100px;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(/img/intro-bg.jpg) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 30px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
}

.loader {
	position: relative;
	padding-top: 75px;
}

@media(min-width:767px) {
    .intro {
        height: 200px;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        margin-bottom: -45px;
    }

    .intro .intro-body .intro-text {
        font-size: 25px;
    }
}

section#overview .nav-tabs
{
    font-size: 24px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
}

section#overview .tab-content
{
    padding-top: 15px;
    min-height: 300px;
}

div.content-pane h4
{
    margin-bottom: 10px;
}

div.panel-body div.thumbnail
{
	margin-bottom: 40px;
}

div.tab-detail {
	text-align: center;
	background-color: rgb(240, 240, 240);
    width: 100%;
    padding: 10px;
    color: grey;
	border: 1px solid #ddd;
    border-top-color: transparent;
}

@media(min-width:767px)
{
    div.tab-pane div.thumbnail-touch
	{
        min-height: 350px !important;
	}
	
	div.tab-detail {
		text-align: left;
	}
	
	div.part-select {
		text-align: right;
	}
}

span.recipe-detail
{
    display: block;
    /*padding-left: 15px;*/
}

form.recipe-search .form-group
{
	width: 100%;
}

form.recipe-search .input-group
{
	width: 100%;
}