@media(min-width:767px) {
    .intro {
        height: 100px;
        padding: 0;
    }
    
    .content-section {
        padding-top: 25px;
    }
}

.content-section {
    padding-top: 25px;
}

.message-list-item {
	font-size: 35px;
	padding-top: 5px;
	padding-bottom: 10px;
}

.message-list-item p
{
	margin-bottom: 4px;
}

.message-list-item .header,
.message-list-item .body,
.message-list-item .footer {
	margin: 4px;	
}

.message-list-item .header {
	padding-bottom: 5px;
	background-color: #f5f5f5;
	border-bottom: 1px solid #ddd;
	color: #262626;
}

.message-list-item .header p {
	margin-bottom: 0px;
	font-size: 20px;
	display: inline-block;
}

.message-list-item .body {
	margin-top: 25px;
	margin-bottom: 25px;
}

.message-list-item .message-section {
	padding-top: 5px;
}

.message-list-item .attachment-content-section {
	margin-top: 5px;
	padding: 6px 12px;
}

.message-list-item .footer {
	padding-top: 5px;
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
}

.message-list-item .footer p {
	font-size: 12px;
}

.message-list-item button.preview,
.message-list-item button.import
{
	margin: 5px;
	min-width: 40px;
}
