div.shopping-list
{
    font-size: 18px;
}

div.shopping-list .row
{
    margin-bottom: 10px;
}

.handle-container
{
    margin-top: 10px;
    margin-bottom: 10px;
}

span.handle
{
    cursor: move;
}

input.done
{
    text-decoration: line-through;
}

div.shopping-list
{
    margin-top: 15px;
    margin-bottom: 15px;
}